.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.railselector {
  width: 380px;
  margin: 5px;
  border: 5px solid Silver;
  padding: 10px;
}

.helpbox {
  width: 380px;
  margin: 5px;
  border: 1px solid Silver;
  padding: 5px;
}

.criteriabox {
  width: 350px;
  padding: 5px;
}

.trolleybox {
  width: 380px;
  margin: 5px;
  border: 3px solid #5d9731;
  padding: 5px;
}

.busbox {
  width: 380px;
  margin: 5px;
  border: 3px solid #222021;
  padding: 5px;
}

.showstationson {
  font-weight: bold;
}

.MFL_Words {
  color:  #007dc3;
}

.BSL_Words {
  color:  #ff8f1c;
}

.NHSL_Words {
  color:  #781d7e;
}

.RR_Words {
  color:  #45647b;
}

.trolleywords {
  color:  #5d9731;
  font-weight: bold;
}

.trolleywordsnotbold {
  color:  #5d9731;
}

.buswords {
  color:  #222021;
  font-weight: bold;
}

.buswordsnotbold {
  color:  #222021;
}

.criteria {
  color: Maroon;
}

html, body, .Container
{
    height: 100%;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: left;
    }

.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent
{
    overflow: auto;
    position: absolute;
    left: 0px;
    width: 410px;
}

.RightContent
{
    float: right;
    margin-left: 10px;
}
